# Web Framework
django==4.2
gunicorn
whitenoise
django-cors-headers
dj-database-url

# Database
psycopg2-binary

# Core Libraries
numpy<2.0.0
pillow
tqdm

# Computer Vision
opencv-python-headless

# Machine Learning (Stable for Linux)
tensorflow==2.15.0