{% extends 'admins/adminbase.html' %}


{% block content %}

   <div class="container">
    <h1>Acute Lymphoblastic Leukemia Classification Based on Convolutional Neural Network</h1>
    <p>Acute lymphoblastic leukemia (ALL) is a type of blood cancer that affects white blood cells, primarily affecting
        children. Early diagnosis is crucial for successful treatment and recovery.</p>
    <p>In recent years, convolutional neural networks (CNNs) have been increasingly used in medical image analysis,
        including the detection and classification of ALL from medical images. In this paper, we propose a model called
        <strong>QCResNet</strong> for the classification of ALL from peripheral blood smear images.</p>
    <p>Our proposed model achieved a high accuracy of <strong>98.9%</strong> on a dataset of 15,135 images,
        outperforming several state-of-the-art methods. Our results demonstrate the potential of QCResNet for accurate
        and rapid effective diagnosis of acute lymphocytes.</p>
</div>

{% endblock %}
