{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Attention Deficit Hyperactivity Disorder</h1>
    <p>ADHD stands for Attention Deficit Hyperactivity Disorder..</p>
    <p>It's caused by brain differences that affect attention and behavior in set ways. For example, people with ADHD are more easily distracted than people who don't have it. </p>
    <p>ADHD can make it harder to focus, listen well, wait, or take your time.ADHD behaviors are characterized by persistent patterns of inattention, hyperactivity, and impulsivity that can interfere with daily functioning. These behaviors can manifest in different ways depending on the type of ADHD an individual has, which can be inattentive, hyperactive-impulsive, or combined. </p>
</div>
{% endblock %}